@import 'prism/themes/prism-okaidia.css'

h1 a
  border: none

h1.name
  font-size: 1.3em
  margin: 0

.avatar
  width: 150px
  height: @width
  border-radius: 100%
  margin: .2em 0

.melbjs
  background: white
  width: 400px
  border: 20px solid white
  border-left-width: 18px
  border-right-width: 17px
  border-bottom-width: 15px

.background-black
  background: black

hr
  height: 10px
  visibility: hidden

.invert-bullets
  .bespoke-bullet
    opacity: 0
  .bespoke-bullet-inactive
    opacity: 1


.bespoke-slide
  z-index: 1

pre, code
  margin-bottom: 0 !important
  padding-bottom: 0 !important
